* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Azeret Mono;
  /* max-width: 1440px; */
}
nav {
  max-width: 1440px;
  margin: 38px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.nav-content h1 {
  margin-left: 150px;
}
.nav-content .btn {
  margin-right: 150px;
}

/* banner part starts------------------------------------------------- */

.banner {
  /* border: 2px solid red; */
  background-image: url(./assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  min-height: 652px;
  margin: 36px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.banner-content {
  /* border: 2px solid red; */
  max-width: 998px;
  min-height: 582px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.banner-img {
  width: 240.28px;
  height: 240px;
}

.banner-content h2 {
  text-align: center;
  color: rgb(13, 19, 33);

  font-size: 48px;
  font-weight: 800;
  margin-top: 32px;
}
.banner-content p {
  color: rgb(13, 19, 33);

  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin: 24px 73px 32px;
}
.banner-btn {
  width: 208px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}
.banner-btn:hover {
  background-color: black;
}

/* why development part starts--------------------------------------------------- */

.why-web {
  max-width: 1140px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 74px auto 90px;
  padding: 80px 97px;
  border-radius: 16px;
  /* background: rgba(13, 19, 33, 0.02); */
  background-color: red;
}


.why-web h2 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
 
  margin-bottom: 24px;
}
.why-web p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
  
  margin: 0 45px 48px;
}

/* reason part starts -------------------------------------------------*/
.reason-one {
  max-width: 946px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;

  /* margin: 0 47px; */
  padding: 47px;
  /* border: 2px solid red; */
  background-color: white;
}
.reason-one-text {
  margin-right: 98px;
  text-align: left;
  margin-top: 10px;
  
}

.reasons h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
 
}
.reasons p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin: 16px 0 32px;
  text-align: left;
}
.reasons .btn {
  color: rgb(13, 19, 33);
  border: none;
  padding: 10px 20px;
  border: 1px solid black;
  box-sizing: border-box;
  opacity: 0.7;
  font-size: 20px;
  font-weight: 600;
}

.reason-two {
  max-width: 946px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  border-radius: 16px;
  padding: 47px;
  /* border: 2px solid red; */
  background-color: white;
  margin: 32px 0;
  /* padding: 48px; */
}
.reason-two-text {
  margin-left: 32px;
  margin-right: 101px;
}
.reason-three {
  max-width: 946px;
  
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* margin: 0 47px; */
  display: flex;
  justify-content: space-around;
  padding: 47px;
  /* border: 2px solid red; */
  background-color: white;
  /* padding: 48px; */
  text-align: left;
  border-radius: 16px;
}
.reason-three-text {
  margin-right: 133px;
}

/* inspiration part starts -------------------------------------------------*/

.inspiration-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inspiration {
  max-width: 1140px;
/* 
  border: 2px solid red; */
  margin: 0 auto;
  margin-bottom: 150px;
}
.inspiration h2 {
  color: rgb(13, 19, 33);

  font-size: 32px;
  font-weight: 800;
}
.inspiration p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin: 24px 144px 48px;
  text-align: center;
}

.inspiration-video {
  /* border: 2px solid red; */
  display: flex;

  justify-content: center;

  margin: 32px;
  padding: 32px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
 
  
}
iframe{
  border-radius: 16px;
 
}

/* skills part starts here */
.targets {
  max-width: 1140px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-bottom: 50px;
}

.target-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.target-title h3 {
  color: rgb(13, 19, 33);

  font-size: 32px;
  font-weight: 800;
}
.target-title p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin: 24px 144px 48px;
  text-align: center;
}

.targets-container {
  display: flex;
  gap: 24px;
  margin-bottom: 110px;
}
.targets-container h4 {
  color: rgb(13, 19, 33);

  font-size: 24px;
  font-weight: 800;
  text-align: left;
  margin: 24px 0 8px;
}
.targets-container p {
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 24px;
}
.targets-container a {
  color: rgb(13, 19, 33);

  font-size: 16px;
  font-weight: 700;
}
.target-html {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}

.target-css {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  padding: 40px;
}
.target-js {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  padding: 40px;
}

next target starts
.next-targets{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .next-targets-container{
  border: 2px solid rgb(182, 150, 150);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} */
.next-target-react{
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 47px; */
 
  /* border: 2px solid red; */
  background-color: white;
  

   
    border: 2px solid rgb(64, 32, 206);
  
  
}


/* support part starts from here */
.support {
  max-width: 1140px;
  min-height: 313px;
  /* border: 2px solid red; */
  margin: 0 auto 80px;
  /* padding: 64px 48px; */
  background-image: url(./assets/handshake.jpg);
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support-content{
  width: 1044px;
height: 185px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support-content-text{
  /* border: 2px solid blue; */
  margin: 0 157px;
}
.support h2 {
  color: rgb(255, 255, 255);
  /* border: 2px solid red; */
  font-size: 32px;
  font-weight: 700;
 text-align: center;
}
.support-content-text p {
  color: rgb(255, 255, 255);

  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin: 16px 62px 0;
  text-align: center;
  /* border: 2px solid red; */
}
.support form {
 
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  margin-top: 20px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  gap: 16px;
}

.support input[type="text"] {
  width: 548px;

  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
}

.support .btn {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding: 17px 20px 17px 20px;
}
.support [type="submit"] {
  color: rgb(13, 19, 33);

  font-size: 20px;
  font-weight: 600;
}


/* footer part */
#contact{
  width: 1440px;
  
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
  padding: 32px 150px;
  border-radius: 16px;

background: rgba(13, 19, 33, 0.03);
}

footer p{
  /* border: 2px solid red; */
  color: rgb(13, 19, 33);

font-size: 20px;
font-weight: 600;

}

